:root {
  font-family: 'Roboto', sans-serif;
  --blue: #2a64c2;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

header {
  background-color: var(--blue);
  height: 90px;
  color: white;
  align-items: center;
  justify-content: center;

}

.box {
  margin-top: 1em;
  height: 1.5em;
  background-color: rgb(0, 188, 206);
}



footer {
  background-color: var(--blue);
  height: 150px;
}


img {
  max-width: 210px;
}

.d-flex {
  display: flex;
}

.column1 {
  flex-direction: column;
}

.main-content {
  width: 75%;
  margin-left: 5em;
}

.right-content {
  margin-right: 5em;
  
}

